
/* Page4.css */
.page4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 90%;
  margin: 40px auto;
  background-color: #ffffff;
  color: #333;
  border-radius: 20px;
  padding: 3em;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px; /* Set a max-width for large screens */
  
}

.page4 .content {
  position: relative;
  text-align: center;
  max-width: 800px; /* Contain the text for better readability */
  margin: auto;
}

.page4 h1 {
  font-size: 2.5rem; /* Increase font size for impact */
  color: #0056b3; /* A more engaging color */
  font-weight: 600; /* Medium weight for readability */
  margin-bottom: 1rem;
}

.page4 .highlight {
  background-color: #ffcc00;
  color: #333; /* Ensure text color contrasts well with the highlight */
  padding: 1rem;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.page4 .f2-fintech {
  font-weight: bold;
  color: #d64a4a; /* Use a color that stands out for the brand name */
}

.page4 .investment {
  font-weight: bold;
  color: #28a745; /* A color that represents money/growth */
}

.page4 h2 {
  font-size: 1.75rem;
  color: #0056b3;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.page4 p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  color: #555; /* Softer color for the body text */
}

.page4 .illustration1 {
  height: auto; /* Allow the image to define the height */
  margin-top: 2rem; /* Space between text and illustration */
  background: url('C:\Users\NBU\Desktop\financialadvisory\src\components\Page4\pic2.png') no-repeat center center;
  background-size: contain;
}

/* Responsive Design */
@media (max-width: 768px) {
  .page4 {
    padding: 2em;
  }

  .page4 h1 {
    font-size: 2rem;
  }

  .page4 h2 {
    font-size: 1.5rem;
  }

  .page4 p {
    font-size: 1rem;
  }

  .page4 .illustration1 {
    margin-top: 1.5rem;
  }
}
